<div class="container">
  <div class="row">
    <h1>Show Booking</h1>
    <h2><%= @booking.offer.book.title%></h2>
    <% @booking.messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  </div>
</div>
