<div class="container">
  <div class="row">
    <div class="padded">
      <div class="col-sm-2">
        <img class="img-responsive" src="http://placehold.it/300/300"/>
        <h4><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
<i class="fa fa-star"></i> <i class="fa fa-star-o"></i></h4>
        <h4>2 commentaires</h4>
        <h4 class="badge"><i class="fa fa-map-marker"></i> Paris, 75002</h4>
        <h4 class="badge"><i class="fa fa-map-marker"></i> Montreuil</h4>
      </div>

      <div class="col-sm-10">
        <h2>Lisa Durand</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ratione praesentium, reprehenderit maiores similique eveniet sed facilis fuga itaque autem amet officiis aut saepe iure libero nam accusantium sunt provident!</p>

        <ul class="style-unstyled list-inline">
          <li><a href="#">Ses livres</a></li>
          <li><a href="#">Ses emprunts</a></li>
          <li><a href="#">Ses commentaires</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>


<%= @user.email %>
