<!-- Banner -->
<div class="banner-top" style='background-image: url("<%= image_url("banner-home.jpg") %>")'>
  <div class="bg-filter bg-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>La bibliothèque</h1>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h2 class="text-center">Retrouvez des livres spécialisés dans le web en fouillant la bibliothèque de vos voisins</h2>
        </div>
      </div>

      <form>
        <div class="input-group">
          <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" class="form-control input-lg" placeholder="HTML5 pour les web designers">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- /input-group -->

      </form>
    </div>
  </div>
</div>

<div id="left-column">
    <div id="facets"></div>
  </div>

<div class="bookshelf">
  <div class="container">
    <div id="search-message" class="text-center"></div>
    <!-- Hits -->
    <div id="hits" class="row"></div>
    <!-- /Hits -->
  </div>

</div>

<!-- Pagination -->
<div id="pagination"></div>



<% content_for :after_js do %>
  <script src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
  <script type="text/javascript">
    $( initialize_algolia_search );
  </script>
  <!-- Hit template -->
  <script type="text/template" id="hit-template">
    {{#hits}}
    <div class="hit col-xs-12 col-sm-6 col-md-3 block-book">
      <div class="hit-image image-container">
        <a href="/books/{{ objectID }}"><img class="book img-responsive"src="{{ image }}" alt="{{ name }}"></a>
      </div>
      <div class="hit-content">
        <h3 class="hit-title text-center"><a href="/books/{{ objectID }}">{{ title }}</a></h3>
        <p class="hit-author text-center"><span>{{{ _highlightResult.author.value }}}</span></p>
      </div>
    </div>
    {{/hits}}
  </script>

  <!-- Facet template -->
  <script type="text/template" id="facet-template">
    <div class="facet">
      <h5>{{ title }}</h5>
      <ul>
        {{#values}}
        <li>
          <a href="" class="facet-link toggle-refine {{#disjunctive}}facet-disjunctive{{/disjunctive}} {{#isRefined}}facet-refined{{/isRefined}}" data-facet="{{ facet }}" data-value="{{ name }}">
            {{ name }}<span class="facet-count">{{ count }}</span>
          </a>
        </li>
        {{/values}}
      </ul>
    </div>
  </script>



<% end %>



