/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.text-shadow {
  text-shadow: 0px 0px 6px #7F7F7F;
}

.purple {
  color: $brand-primary;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.mb10 {
  margin-bottom:10px;
}

.mt0 {
  margin-top: 0px;
}

.bg-gray {
  background: $gray-xlight;
}

a.link-unstyled {
  text-decoration: none;
}





