<h1 class="text-center">New offer</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @offer do |f| %>
      <%= f.input :book_id, collection: Book.all %>
      <%= f.button :submit , class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
