/* Books */

.container.hide-overflow { overflow: hidden }

.bookshelf {
    position: relative;
    margin: 40px auto 0;
    list-style: none;
}

/* Figure and book */

.bookshelf .block-book {
 margin: 0 auto;
 height: 460px;
}

.bookshelf .block-book-user {
 margin: 0 auto;
 height: 400px;
}

.book {
    position: relative;
    z-index: -1;
    display: flex;
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 0 auto 50px;
    &-fiche{
      height: 325px;
    }
}

.image-container {
  position: relative;
}

figcaption h2 {
  margin-top: -15px;
}

/*.filter {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
*/
.bookshelf figcaption p span {
    position: relative;
    display: block;
    margin: 1em 0 1em 0;
    padding: .5em 0 0 0;
}

.bookshelf figcaption p span::before {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}
