/* Books */

.container.hide-overflow { overflow: hidden }

.bookshelf {
    position: relative;
    margin: 40px auto 0;
    list-style: none;
}

/* Figure and book */

.bookshelf .block-book {
 margin: 0 auto;
 height: 460px;
}

.bookshelf .block-book-user {
 margin: 0 auto;
 height: 400px;
}

.book {
    position: relative;
    z-index: -1;
    display: flex;
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 0 auto 50px;
    box-shadow : -3px 2px rgba(192,192,192,1);
    &-fiche{
      height: 325px;
      box-shadow : -3px 2px rgba(192,192,192,1);
    }
}

.image-container {
  position: relative;
}

div h2 {
  margin-top: -15px;
}

.bookshelf div p span {
    position: relative;
    display: block;
    margin: 1em 0 1em 0;
    padding: .5em 0 0 0;
}

.bookshelf div p span::before {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}
