.card {
  position: relative;
  /*height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
  color: white;
  margin: 20px auto;
  }
  a:hover{
      text-decoration: none;
  }
    .medium {
    height: 300px;
    background-size: cover;
    background-position: center center;
    }
    .small {
      height: 150px;
      background-size: cover;
      background-position: center center;
    }


.card-testimonial{
  background-color: white;
  padding: 2em;
  margin: 0.7em;
  border: 1px solid $gray-lighter;
  position: relative;
  border-top: 3px solid $green;
}

.card-bloc{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 450px;
  margin-bottom: 40px;
  h2 {
    font-size: 24px;
    color: #4C356A;
    margin-top: 0px;
  }
}

.card-bg{
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
}

.card-gradient {
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
// .card-category {
//   font-size: 10px;
//   text-transform: uppercase;
//   position: absolute;
//   top: 10px;
//   left: 10px;
// }
.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}

.card-category {
  display:flex;
  align-items: center;
  justify-content: center;
  height:344px;
  margin-bottom:25px;
  h2 {
    color: #fff;
    position:relative;
    text-align:center;
    flex: 0 0 auto;
  }
}

/*Fleche !! */
.card-testimonial.top > .arrow::after {
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    content: " ";
    margin-left: -10px;
}

.card-testimonial > .arrow::after {
    border-width: 10px;
    content: "";
}


.card-testimonial.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.10);
    bottom: -10px;
    left: 50%;
    margin-left: -11px;
}

.card-testimonial > .arrow {
    border-width: 11px;
}
.card-testimonial > .arrow, .card-testimonial > .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 10px;
}

