.card {
  background: #fff;
  padding: 3em 2em 2em 2em;
  border-radius: 2px;
  position: relative;
  text-align:center;
  margin: 2em;
}

.card img {
  position: absolute;
  top:-30px;
  left:-20px;
}
