.card {
  position: relative;
  /*border: 1px solid $gray-lighter;*/
  margin: 1em auto;
  padding: 2em;
  /*border-radius:$border-radius-base;*/
  h2 {
   margin-bottom:25px;
  }
  h4 span{
   border-top: 1px solid $gray-lighter;
   padding-top: 5px;
  }
  .card-footer {
/*  position:absolute;*/
    bottom: 5px;
  }
}

.card-testimonial{
  margin: 0.7em 0.7em 1.5em 0.7em;
  border-top: 3px solid $green;
}
.card-image {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 79%;
  height:344px;
  margin: 0 auto;
  margin-bottom:25px;
  h2 {
    color: #fff;
    position:relative;
    text-align:center;
    flex: 0 0 auto;
  }
}
.card-book {
  .card {
    margin-top: -60px;
    z-index:-1;
    min-height:280px;
  }
}
/*Fleche !! */
.card-testimonial.top > .arrow::after {
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    content: " ";
    margin-left: -10px;
}
.card-testimonial > .arrow::after {
    border-width: 10px;
    content: "";
}
.card-testimonial.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.10);
    bottom: -10px;
    left: 50%;
    margin-left: -11px;
}
.card-testimonial > .arrow {
    border-width: 11px;
}
.card-testimonial > .arrow, .card-testimonial > .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 10px;
}
