#book-title {
  position:relative;
  z-index: 2;
}

#results {
  position:relative;
  padding: 10px;
  margin-top: -37px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  background: white;

  .card-container {
    cursor: pointer;
  }
}

#results h3 {
  font-size: 16px;
  color: $brand-primary;
}
