.fb-button {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 6px;
}

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
  margin: 10px 0;
}

.signup-or-separator hr {
    margin: -16px auto 10px auto;
    width: 90%;
}

.signup-box {
  background-color: white;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
}

.signup-box h2 {
  margin: 0;
}

.already-signup {
  margin: 20px 0;
}
